<section class="section">

{{!--   <div class="user-badges badge-list">
  	<a class="badge">Descrição</a>
  	<a class="badge">Saúde</a>
  	<a class="badge">SUS</a>
  </div> --}}

  <div class="activities">
    {{!--<h3>{{t "users.title"}}</h3>--}}
    {{we-activities user=user showSharebox=false}}
  </div>

</section>
