{{#if isVisible}}
<li class="main_menu-dropdown logged-on dropdown">
  <button class="btn btn-default dropdown-toggle user-menu-link" data-toggle="dropdown">
    <span class="avatar-small" {{bind-attr class=status}}>{{user-avatar user=currentUser heigth="35" width="35" classNames="user-avatar-image" size="thumbnail"}}</span>
    <span class="user-name " >{{currentUser.displayName}}</span><b class="caret"></b>
  </button>

  <ul id="dropdown-login-menu" class="dropdown-menu dropdown-menu-right dropdown-menu-user arrow_box" role="menu"></ul>
</li>
{{/if}}
