/*

CSS das Tabs

*/
.user-profile{
  padding-top: 20px;
  padding-bottom: 50px;  
}

.tabs {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.tabs .tabs-controller {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.tabs .tabs-controller li {
  display: inline-block;
  list-style: none;
  width: 25%;
}
.tabs .tabs-controller h4.tab-controller {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background: #f9ae31;
  text-align: center;
  padding: 20px 10px;
  border-right: 1px solid #c38926;
}
.tabs .tabs-controller h4.tab-controller:hover {
  background: #f9b13d;
}
.tabs .tabs-controller li:last-child h4.tab-controller {
  border-right: none;
}
.tabs .tabs-controller h4.tab-controller.active {
  background: #fff;
  color: #444;
  cursor: auto;
  border-right: none;
}

.tabs .tab .tab-content {
  display: none;
  padding: 30px 40px;
}
.tabs .tab.active .tab-content {
  display: block;
}

/*

Fim do CSS das Tabs

*/
.input-50 {
  width: 50%;
}

.table-form {
  border-bottom: 2px solid #444;
}
.table-form thead {
  border-bottom: 3px solid #444;
}
.table-form thead tr th {
  font-size: 18px;
  color: #454545;
  font-weight: bold;
  padding: 10px 0 20px 0;
  width: 25%;
}
.table-form tbody tr td {
  padding: 35px 5px;
}

.user-profile {}

.block-up-picture {
  margin-top: 20px;
}

.block-up-picture h2.title {
  margin: 0;
}
.block-up-picture h2.title span.nome {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.block-up-picture .content {
  margin-top: 20px;
}
.block-up-picture .content .user-picture {
  width: 215px;
  height: auto;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.block-up-picture .content .user-picture+.btn {
  margin-top: 20px;
}
.block-up-picture .content .btn.btn-warning {
  background: #f9ae31;
}
.block-up-picture .content .btn.btn-warning:hover {
  background: #f9b13d;
}

.user-profile .tabs .tab-content h3.heading--text-lg {
  margin: 0;
  color: #8a8a8a;
}
.user-profile .tabs .tab-content form {
  margin-top: 35px;
}
.user-profile .tabs .tab-content form div.row+div.row {
  margin-top: 20px;
}
.user-profile .tabs .tab-content form .input-help {
  font-size: 12px;
  color: #8a8a8a;
  display: inline;
}
.user-profile .tabs .tab-content form .required-indicator{
  color: red;
}
.user-profile .tabs .tab-content h4.heading--text-sm {
  color: #8a8a8a;
  margin-top: 40px;
}

/*

State/City Location Component

*/
.state-city-component > span{
  width: 50%;
  display: block;
  float: left;
}

.state-city-component .state-selector{
  padding-right: 15px;
}

/*

Courses Component

*/
.we-courses .we-courses-table > td{
  font-size: 14px;
  color: gray;
}