/*

CSS das Tabs
  
*/
.user-profile{
  padding-top: 20px;
  padding-bottom: 50px;  
}
.user-profile img.thumbnail {
  padding: 0;
  margin: 0;
  line-height: auto;
  background: transparent;
  border: none;
  border-radius: auto;
}
.tabs {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.tabs .tabs-controller {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.tabs .tabs-controller li {
  list-style: none;
  /*width: 25%;*/
  display: inline-block;
  width: 50%;
}
.tabs .tabs-controller h4.tab-controller {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background: #f9ae31;
  text-align: center;
  padding: 20px 10px;
  border-right: 1px solid #c38926;
  border-bottom: 1px solid #c38926;
}
.tabs .tabs-controller li:nth-child(2n+0) h4.tab-controller {
  border-right: none;
}
.tabs .tabs-controller h4.tab-controller:hover {
  background: #f9b13d;
}
.tabs .tabs-controller li:last-child h4.tab-controller {
  border-right: none;
}
.tabs .tabs-controller h4.tab-controller.active {
  background: #fff;
  color: #444;
  cursor: auto;
  border-right: none;
}

.tabs .tab .tab-content {
  display: none;
  padding: 30px 40px;
}
.tabs .tab.active .tab-content {
  display: block;
}

/*

Fim do CSS das Tabs

*/
.input-50 {
  width: 50%;
}

.we-courses {
  overflow: auto;
}
.table-form {
  border-bottom: 2px solid #444;
}
.table-form thead {
  border-bottom: 3px solid #444;
}
.table-form thead tr th {
  /*font-size: 18px;*/
  font-size:  12px;
  color: #454545;
  font-weight: bold;
  padding: 10px 0 20px 0;
  width: 25%;
  white-space: nowrap;
}
.table-form tbody tr {
  border-bottom: 1px solid #e1e1e1;
}
.table-form tbody tr:last-child {
  border-bottom: none;
}
.table-form tbody tr td {
  padding: 35px 5px;
}

.user-profile {}

.block-up-picture {
  margin-top: 20px;
}

.block-up-picture h2.title {
  margin: 0;
}
.block-up-picture h2.title span.nome {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.block-up-picture .content {
  margin-top: 20px;
}
.block-up-picture .content .user-picture {
  max-width: 215px;
  height: auto;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.block-up-picture .content .user-picture+.btn {
  margin-top: 20px;
}
.block-up-picture .content .btn.btn-warning {
  background: #f9ae31;
}
.block-up-picture .content .btn.btn-warning:hover {
  background: #f9b13d;
}

.user-profile .tabs .tab-content h3.heading--text-lg {
  margin: 0;
  color: #8a8a8a;
}
.user-profile .tabs .tab-content form {
  margin-top: 35px;
}
.user-profile .tabs .tab-content form div.row+div.row {
  margin-top: 20px;
}
.user-profile .tabs .tab-content form .input-help {
  font-size: 12px;
  color: #8a8a8a;
  display: inline;
}

.user-profile .tabs .tab-content form .text-field-count{
  float: right;
}

.user-profile .tabs .tab-content form .required-indicator{
  color: red;
}
.user-profile .tabs .tab-content h4.heading--text-sm {
  color: #8a8a8a;
  margin-top: 40px;
}

/*

State/City Location Component

*/
.state-city-component > span{
  width: 50%;
  display: block;
  float: left;
}

.state-city-component .state-selector{
  padding-right: 15px;
}

/*

Courses Component

*/
.we-courses .we-courses-table > td{
  font-size: 14px;
  color: gray;
}

/*

Missing Basic Info Alert Message

*/
.missing-info-msg .alert{
  margin-top: 22px;
}

textarea{
  resize: none;
}

/*

We-Avatar-Modal-Component

*/
.form-upload-avatar .form-upload div .jcrop-holder {
  margin: 0 auto;
}

.jcrop-keymgr {
  opacity: 0;
}

@media (min-width: 992px) { 
  .tabs .tabs-controller li {
    width: 25%;
  }
  .tabs .tabs-controller h4.tab-controller {
    border-bottom: none;
  }
  .tabs .tabs-controller li:nth-child(2n+0) h4.tab-controller {
    border-right: 1px solid #c38926;
  }
  .tabs .tabs-controller li:last-child h4.tab-controller {
    border-right: none;
  }
  .table-form thead tr th {
    font-size: 18px;
  }
}