/**
 * importer.less
 * Use this file to import and organize the processing order of theme less files
 */
/**
 * Theme variables ...
 */
/**
 * Header css ...
 */
/* example */
.navbar-default .navbar-brand {
  color: red;
}

body {
  background: #fafafa;
  font-family: "Open Sans",sans-serif;
  font-size: 1.428571429;
}
.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #eeeeee;
  background-image: none;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #eeeeee;
  outline: 0;
  box-shadow: none;
}
.form-control::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777777;
}
.form-control::-webkit-input-placeholder {
  color: #777777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #e1e1e1;
  opacity: 0.8;
}
.auth-form .input-group label {
  background: #eeeeee;
  border: none;
}
.auth-form .input-group label i.line {
  font-size: 1.5em;
  color: #333;
}
.auth-form .input-group.has-success .form-control,
.auth-form .input-group.has-error .form-control {
  border: none;
}
.has-error .form-control:focus,
.has-success .form-control:focus {
  box-shadow: none;
}
.auth-form .form-group .submit {}
.auth-form {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 4px #b5b5b5;
  width: 400px;
  margin: 75px auto 150px auto;
}
.auth-form .form-content {
  padding: 35px 35px 20px 35px;
}
.auth-form .form-icon {
  text-align: center;
}
.auth-form .form-icon i {
  font-size: 10em;
  color: #a2a2a2;
}
.user-signup-form .user-signup-logo-cdp {
  text-align: center;
}
.user-signup-form .user-signup-logo-cdp svg {
  width: 96px;
  height: 96px;
}
.auth-form h2.form-heading {
  color: #797979;
  font-weight: bold;
  margin: 35px 0 0 0;
  text-align: center;
}
.auth-form h3,
.auth-form h4 {
  color: #797979;
  text-align: center;
  margin: 10px 0 0 0;
}
.auth-form h3+.form-group,
.auth-form h4+.form-group {
  margin-top: 50px;
}
.auth-form .form-footer {
  background: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.auth-form .form-footer ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.auth-form .form-footer ul li {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  padding: 0 5px;
  border-right: 1px solid #c0c0c0;
  line-height: 1em;
}
.auth-form .form-footer ul li a {
  color: #58a8cd;
}
.auth-form .form-footer ul li:last-child {
  border: none;
}



.btn-xs {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px; }

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #eeeeee;
  background-image: none;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #eeeeee;
    box-shadow: none;
    outline: 0; }
  .form-control::-moz-placeholder {
    color: #777777;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #777777; }
  .form-control::-webkit-input-placeholder {
    color: #777777; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #e1e1e1;
    opacity: 0.8; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  line-height: 36px;
  line-height: 1.428571429 \0; }
  input[type="date"].input-sm, .form-horizontal .form-group-sm input[type="date"].form-control, input[type="time"].input-sm, .form-horizontal .form-group-sm input[type="time"].form-control, input[type="datetime-local"].input-sm, .form-horizontal .form-group-sm input[type="datetime-local"].form-control, input[type="month"].input-sm, .form-horizontal .form-group-sm input[type="month"].form-control {
    line-height: 33px; }
  input[type="date"].input-lg, .form-horizontal .form-group-lg input[type="date"].form-control, input[type="time"].input-lg, .form-horizontal .form-group-lg input[type="time"].form-control, input[type="datetime-local"].input-lg, .form-horizontal .form-group-lg input[type="datetime-local"].form-control, input[type="month"].input-lg, .form-horizontal .form-group-lg input[type="month"].form-control {
    line-height: 49px; }


/* main header styles
-------------------------------------------------- */
#header-main {
  border-bottom: 7px solid #efefef;
  background-color: #fff;
  height: 87px;
  margin-bottom: 0; }
  #header-main #navbar {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      #header-main #navbar {
        float: left;
        width: 91.6666666667%; } }
    @media (min-width: 992px) {
      #header-main #navbar {
        float: left;
        width: 91.6666666667%; } }
    @media (min-width: 1200px) {
      #header-main #navbar {
        float: left;
        width: 83.3333333333%; } }
  @media (max-width: 767px) {
    #header-main {
      height: auto; }
      #header-main .navbar-toggle {
        top: 5px; } }
  #header-main .navbar-header {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 87px; }
    @media (min-width: 768px) {
      #header-main .navbar-header {
        float: left;
        width: 8.3333333333%; } }
    @media (min-width: 992px) {
      #header-main .navbar-header {
        float: left;
        width: 8.3333333333%; } }
    @media (min-width: 1200px) {
      #header-main .navbar-header {
        float: left;
        width: 16.6666666667%; } }
    @media (max-width: 767px) {
      #header-main .navbar-header {
        height: 62px; } }
  @media (max-width: 767px) {
    #header-main .header-main-brand {
      padding: 2px 0; } }
  @media (min-width: 768px) {
    #header-main .header-main-brand {
      padding: 9px 0; } }
  @media (min-width: 992px) {
    #header-main .header-main-brand {
      padding: 9px 0; } }
  @media (min-width: 1200px) {
    #header-main .header-main-brand {
      width: 180px;
      padding: 5px 0; } }
  @media (max-width: 767px) {
    #header-main .main_menu-item {
      height: 50px; } }
  @media (min-width: 768px) {
    #header-main .main_menu-item {
      height: 80px;
      margin: 0;
      text-align: center; } }
  @media (min-width: 992px) {
    #header-main .main_menu-item {
      height: 80px;
      margin: 0 10px 0 10px;
      text-align: center; } }
  @media (min-width: 1200px) {
    #header-main .main_menu-item {
      height: 80px;
      margin: 0 10px 0 10px;
      text-align: center; } }
  #header-main .main_menu-item .main_menu-item--wrapper {
    padding: 18px 0 15px 0;
    background: none; }
    #header-main .main_menu-item .main_menu-item--wrapper .main_menu-item--icon {
      width: 100%;
      text-align: center; }
    #header-main .main_menu-item .main_menu-item--wrapper .main_menu-item--name {
      font-size: 12px;
      width: 100%;
      text-align: center; }
  @media (max-width: 767px) {
    #header-main .main_menu-item.style_group {
      width: 100%;
      border-left: 5px solid #2d84b8; }
      #header-main .main_menu-item.style_group .main_menu-item--icon {
        position: relative;
        float: left;
        width: 8.3333333333%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 40px;
        margin: -5px 0 0 5px;
        padding: 0; }
      #header-main .main_menu-item.style_group .main_menu-item--name {
        position: relative;
        float: left;
        width: 83.3333333333%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: left; } }
  @media (min-width: 768px) {
    #header-main .main_menu-item.style_group {
      width: 90px; }
      #header-main .main_menu-item.style_group .main_menu-item--icon {
        font-size: 35px; }
      #header-main .main_menu-item.style_group .main_menu-item--name {
        position: relative;
        top: -5px; } }
  @media (min-width: 992px) {
    #header-main .main_menu-item.style_group {
      width: 90px; }
      #header-main .main_menu-item.style_group .main_menu-item--icon {
        font-size: 35px; }
      #header-main .main_menu-item.style_group .main_menu-item--name {
        position: relative;
        top: -5px; } }
  @media (min-width: 1200px) {
    #header-main .main_menu-item.style_group {
      width: 90px; }
      #header-main .main_menu-item.style_group .main_menu-item--icon {
        font-size: 35px; }
      #header-main .main_menu-item.style_group .main_menu-item--name {
        position: relative;
        top: -7px; } }
  @media (max-width: 767px) {
    #header-main .main_menu-item.style_story {
      width: 100%;
      border-left: 5px solid #55a4f3; }
      #header-main .main_menu-item.style_story .main_menu-item--icon {
        position: relative;
        float: left;
        width: 8.3333333333%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 72px;
        margin: -22px 15px 0 -10px;
        padding: 0; }
      #header-main .main_menu-item.style_story .main_menu-item--name {
        position: relative;
        float: left;
        width: 83.3333333333%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-align: left; } }
  @media (min-width: 768px) {
    #header-main .main_menu-item.style_story {
      width: 56px; }
      #header-main .main_menu-item.style_story .main_menu-item--icon {
        font-size: 70px;
        position: absolute;
        top: 2px;
        left: -5px; }
      #header-main .main_menu-item.style_story .main_menu-item--name {
        position: absolute;
        top: 50px;
        left: 2px; } }
  @media (min-width: 992px) {
    #header-main .main_menu-item.style_story {
      width: 56px; }
      #header-main .main_menu-item.style_story .main_menu-item--icon {
        font-size: 70px;
        position: absolute;
        top: 2px;
        left: -5px; }
      #header-main .main_menu-item.style_story .main_menu-item--name {
        position: absolute;
        top: 50px;
        left: 2px; } }
  @media (min-width: 1200px) {
    #header-main .main_menu-item.style_story {
      width: 56px; }
      #header-main .main_menu-item.style_story .main_menu-item--icon {
        font-size: 70px;
        position: absolute;
        top: 2px;
        left: -5px; }
      #header-main .main_menu-item.style_story .main_menu-item--name {
        position: absolute;
        top: 50px;
        left: 2px; } }
  #header-main .main_menu-item.style_service {
    cursor: pointer; }
    @media (max-width: 767px) {
      #header-main .main_menu-item.style_service {
        width: 100%;
        border-left: 5px solid #00a182; }
        #header-main .main_menu-item.style_service .main_menu-item--icon {
          position: relative;
          float: left;
          width: 8.3333333333%;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 76px;
          margin: -22px 15px 0 -10px;
          padding: 0; }
        #header-main .main_menu-item.style_service .main_menu-item--name {
          position: relative;
          float: left;
          width: 83.3333333333%;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          text-align: left; } }
    @media (min-width: 768px) {
      #header-main .main_menu-item.style_service {
        width: 56px; }
        #header-main .main_menu-item.style_service .main_menu-item--icon {
          font-size: 70px;
          position: absolute;
          top: 2px;
          left: -5px; }
        #header-main .main_menu-item.style_service .main_menu-item--name {
          position: absolute;
          top: 50px;
          left: 2px; } }
    @media (min-width: 992px) {
      #header-main .main_menu-item.style_service {
        width: 56px; }
        #header-main .main_menu-item.style_service .main_menu-item--icon {
          font-size: 70px;
          position: absolute;
          top: 2px;
          left: -5px; }
        #header-main .main_menu-item.style_service .main_menu-item--name {
          position: absolute;
          top: 50px;
          left: 2px; } }
    @media (min-width: 1200px) {
      #header-main .main_menu-item.style_service {
        width: 56px; }
        #header-main .main_menu-item.style_service .main_menu-item--icon {
          font-size: 70px;
          position: absolute;
          top: 2px;
          left: -5px; }
        #header-main .main_menu-item.style_service .main_menu-item--name {
          position: absolute;
          top: 50px;
          left: 2px; } }
  #header-main .main_menu-item:hover.style_story .cdp, #header-main .main_menu-item:hover.style_story .breadcrumb .breadcrumb-icon, .breadcrumb #header-main .main_menu-item:hover.style_story .breadcrumb-icon, #header-main .main_menu-item.active.style_story .cdp, #header-main .main_menu-item.active.style_story .breadcrumb .breadcrumb-icon, .breadcrumb #header-main .main_menu-item.active.style_story .breadcrumb-icon {
    color: #55a4f3 !important; }
  @media (max-width: 767px) {
    #header-main .main_menu-item:hover.style_story, #header-main .main_menu-item.active.style_story {
      height: 50px; } }
  @media (min-width: 768px) {
    #header-main .main_menu-item:hover.style_story, #header-main .main_menu-item.active.style_story {
      height: 87px;
      box-shadow: inset 0 -7px 0 #55a4f3;
      transition: all 0.25s ease-in-out; } }
  @media (min-width: 992px) {
    #header-main .main_menu-item:hover.style_story, #header-main .main_menu-item.active.style_story {
      height: 87px;
      box-shadow: inset 0 -7px 0 #55a4f3;
      transition: all 0.25s ease-in-out; } }
  @media (min-width: 1200px) {
    #header-main .main_menu-item:hover.style_story, #header-main .main_menu-item.active.style_story {
      height: 87px;
      box-shadow: inset 0 -7px 0 #55a4f3;
      transition: all 0.25s ease-in-out; } }
  #header-main .main_menu-item:hover.style_service .main_menu-item--icon, #header-main .main_menu-item.active.style_service .main_menu-item--icon {
    color: #00a182 !important; }
  @media (max-width: 767px) {
    #header-main .main_menu-item:hover.style_service, #header-main .main_menu-item.active.style_service {
      height: 50px; } }
  @media (min-width: 768px) {
    #header-main .main_menu-item:hover.style_service, #header-main .main_menu-item.active.style_service {
      height: 87px;
      box-shadow: inset 0 -7px 0 #00a182;
      transition: all 0.25s ease-in-out; } }
  @media (min-width: 992px) {
    #header-main .main_menu-item:hover.style_service, #header-main .main_menu-item.active.style_service {
      height: 87px;
      box-shadow: inset 0 -7px 0 #00a182;
      transition: all 0.25s ease-in-out; } }
  @media (min-width: 1200px) {
    #header-main .main_menu-item:hover.style_service, #header-main .main_menu-item.active.style_service {
      height: 87px;
      box-shadow: inset 0 -7px 0 #00a182;
      transition: all 0.25s ease-in-out; } }
  #header-main .main_menu-item:hover.style_group .cdp, #header-main .main_menu-item:hover.style_group .breadcrumb .breadcrumb-icon, .breadcrumb #header-main .main_menu-item:hover.style_group .breadcrumb-icon, #header-main .main_menu-item.active.style_group .cdp, #header-main .main_menu-item.active.style_group .breadcrumb .breadcrumb-icon, .breadcrumb #header-main .main_menu-item.active.style_group .breadcrumb-icon {
    color: #2d84b8 !important; }
  @media (max-width: 767px) {
    #header-main .main_menu-item:hover.style_group, #header-main .main_menu-item.active.style_group {
      height: 60px; } }
  @media (min-width: 768px) {
    #header-main .main_menu-item:hover.style_group, #header-main .main_menu-item.active.style_group {
      height: 87px;
      box-shadow: inset 0 -7px 0 #2d84b8;
      transition: all 0.25s ease-in-out; } }
  @media (min-width: 992px) {
    #header-main .main_menu-item:hover.style_group, #header-main .main_menu-item.active.style_group {
      height: 87px;
      box-shadow: inset 0 -7px 0 #2d84b8;
      transition: all 0.25s ease-in-out; } }
  @media (min-width: 1200px) {
    #header-main .main_menu-item:hover.style_group, #header-main .main_menu-item.active.style_group {
      height: 87px;
      box-shadow: inset 0 -7px 0 #2d84b8;
      transition: all 0.25s ease-in-out; } }
  #header-main .main_menu-search {
    padding-top: 24px;
    height: 87px; }
    @media (max-width: 767px) {
      #header-main .main_menu-search {
        margin: 5px 0;
        background: #e9e9e9;
        position: relative; } }
    @media (min-width: 768px) {
      #header-main .main_menu-search {
        margin: 0 10px; } }
    @media (min-width: 992px) {
      #header-main .main_menu-search {
        margin: 0 40px; } }
    @media (min-width: 1200px) {
      #header-main .main_menu-search {
        margin: 0 55px; } }
    #header-main .main_menu-search .form-group {
      width: 100%; }
      #header-main .main_menu-search .form-group .icon-search {
        top: -1.75em;
        right: 0.8em;
        color: #777777;
        float: right; }
    #header-main .main_menu-search .search-btn {
      color: #777777;
      padding: 7px 10px;
      border-color: #e4e4e4;
      box-shadow: none;
      border-radius: 0 3px 3px 0; }
      #header-main .main_menu-search .search-btn:focus {
        box-shadow: none;
      }
      @media (max-width: 767px) {
        #header-main .main_menu-search .search-btn {
          margin-right: 2.5%;
          background: #e9e9e9; } }
      @media (min-width: 768px) {
        #header-main .main_menu-search .search-btn {
          background: #e4e4e4; } }
      @media (min-width: 992px) {
        #header-main .main_menu-search .search-btn {
          background: #e4e4e4; } }
      @media (min-width: 1200px) {
        #header-main .main_menu-search .search-btn {
          background: #e4e4e4; } }
      #header-main .main_menu-search .search-btn .icon-search {
        height: 20px;
        top: 3px;
        position: relative;
        color: #2d84b8; }
        @media (max-width: 767px) {
          #header-main .main_menu-search .search-btn .icon-search {
            font-size: 22px; } }
        @media (min-width: 768px) {
          #header-main .main_menu-search .search-btn .icon-search {
            font-size: 16px; } }
        @media (min-width: 992px) {
          #header-main .main_menu-search .search-btn .icon-search {
            font-size: 16px; } }
        @media (min-width: 1200px) {
          #header-main .main_menu-search .search-btn .icon-search {
            font-size: 16px; } }
    #header-main .main_menu-search .search-input {
      background: #e4e4e4;
      border-color: #e4e4e4;
      font-size: 12px;
      border-radius: 3px 0 0 3px; }
      #header-main .main_menu-search .search-input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #a2a2a2; }
      #header-main .main_menu-search .search-input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #a2a2a2;
        opacity: 1; }
      #header-main .main_menu-search .search-input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #a2a2a2;
        opacity: 1; }
      #header-main .main_menu-search .search-input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #a2a2a2; }
      @media (max-width: 767px) {
        #header-main .main_menu-search .search-input {
          width: 84%;
          margin-left: 2.5%;
          font-size: 18px;
          background: #e9e9e9;
          border-color: #e9e9e9; } }
      @media (min-width: 768px) {
        #header-main .main_menu-search .search-input {
          width: 100px; } }
      @media (min-width: 992px) {
        #header-main .main_menu-search .search-input {
          width: 180px; } }
      @media (min-width: 1200px) {
        #header-main .main_menu-search .search-input {
          width: 180px; } }
  @media (max-width: 767px) {
    #header-main .main_menu-message {
      border-left: 5px solid #f9ae31; } }
  @media (max-width: 767px) {
    #header-main .main_menu-notification {
      border-left: 5px solid #cd0102; } }
  #header-main .main_menu-notification, #header-main .main_menu-message {
    width: 60px;
    padding-top: 17px; }
    #header-main .main_menu-notification .badge, #header-main .main_menu-message .badge {
      background: #cd0102;
      font-family: "Roboto", sans-serif;
      position: absolute;
      top: 8px;
      left: 35px;
      border-radius: 3px;
      padding: 3px 5px; }
  #header-main .main_menu-dropdown {
    margin-top: 22px; }
    @media (max-width: 767px) {
      #header-main .main_menu-dropdown .arrow_box:after {
        border-color: transparent;
        border-bottom-color: transparent; }
      #header-main .main_menu-dropdown .arrow_box:before {
        border-color: transparent;
        border-bottom-color: transparent; }
 }
    @media (min-width: 768px) {
      #header-main .main_menu-dropdown {
        position: absolute;
        right: 0; } }
    @media (min-width: 992px) {
      #header-main .main_menu-dropdown {
        position: absolute;
        right: 0; } }
    @media (min-width: 1200px) {
      #header-main .main_menu-dropdown {
        position: absolute;
        right: 0; } }
    #header-main .main_menu-dropdown .dropdown-menu {
      margin-top: 20px;
      position: absolute;
      right: 0;
      top: 35px;
      padding: 10px 25px 0 25px; }
      @media (max-width: 767px) {
        #header-main .main_menu-dropdown .dropdown-menu {
          position: static;
          margin-top: 5px !important;
          padding: 10px 25px 5px 25px; } }
    #header-main .main_menu-dropdown .navbar-login-button {
      cursor: pointer;
      font-weight: bold;
      float: right; }
    #header-main .main_menu-dropdown #form-login .checkbox {
      width: 100px;
      font-size: 0.8em;
      line-height: 1.75em;
      float: left;
      padding-top: 0; }
      #header-main .main_menu-dropdown #form-login .checkbox .link {
        font-size: 11px;
        position: relative;
        top: -5px; }
    #header-main .main_menu-dropdown #form-login .login-btn {
      width: 90px;
      float: right; }
      #header-main .main_menu-dropdown #form-login .login-btn .btn, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-image, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .login-btn .btn-image, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-audio, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .login-btn .btn-audio, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-video, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .login-btn .btn-video, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-docs, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .login-btn .btn-docs, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-map, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .login-btn .btn-map, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .story-main-content--form .story-main-content--form-wrapper .btn-send, .section-story .story-main-content .story-main-content--form .story-main-content--form-wrapper #header-main .main_menu-dropdown #form-login .login-btn .btn-send, #header-main .main_menu-dropdown #form-login .login-btn .section-story .story-main-content .btn-comment, .section-story .story-main-content #header-main .main_menu-dropdown #form-login .login-btn .btn-comment, #header-main .main_menu-dropdown #form-login .login-btn .story-modal-edit .story-main-content--form .story-main-content--form-wrapper .btn-send, .story-modal-edit .story-main-content--form .story-main-content--form-wrapper #header-main .main_menu-dropdown #form-login .login-btn .btn-send, #header-main .main_menu-dropdown #form-login .login-btn .story-modal-edit .story-main-content--form .story-main-content--form-wrapper .btn-cancel, .story-modal-edit .story-main-content--form .story-main-content--form-wrapper #header-main .main_menu-dropdown #form-login .login-btn .btn-cancel, #header-main .main_menu-dropdown #form-login .login-btn .file-input-wrapper, #header-main .main_menu-dropdown #form-login .login-btn .file-input-wrapper-2 {
        width: 100%; }
    #header-main .main_menu-dropdown #form-login .container-button-signin {
      width: 216px;
      clear: both;
      position: relative;
      top: 5px; }
      @media (max-width: 767px) {
        #header-main .main_menu-dropdown #form-login .container-button-signin {
          width: 100%; } }
      #header-main .main_menu-dropdown #form-login .container-button-signin .btn, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-image, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .container-button-signin .btn-image, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-audio, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .container-button-signin .btn-audio, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-video, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .container-button-signin .btn-video, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-docs, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .container-button-signin .btn-docs, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-map, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs #header-main .main_menu-dropdown #form-login .container-button-signin .btn-map, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .story-main-content--form .story-main-content--form-wrapper .btn-send, .section-story .story-main-content .story-main-content--form .story-main-content--form-wrapper #header-main .main_menu-dropdown #form-login .container-button-signin .btn-send, #header-main .main_menu-dropdown #form-login .container-button-signin .section-story .story-main-content .btn-comment, .section-story .story-main-content #header-main .main_menu-dropdown #form-login .container-button-signin .btn-comment, #header-main .main_menu-dropdown #form-login .container-button-signin .story-modal-edit .story-main-content--form .story-main-content--form-wrapper .btn-send, .story-modal-edit .story-main-content--form .story-main-content--form-wrapper #header-main .main_menu-dropdown #form-login .container-button-signin .btn-send, #header-main .main_menu-dropdown #form-login .container-button-signin .story-modal-edit .story-main-content--form .story-main-content--form-wrapper .btn-cancel, .story-modal-edit .story-main-content--form .story-main-content--form-wrapper #header-main .main_menu-dropdown #form-login .container-button-signin .btn-cancel, #header-main .main_menu-dropdown #form-login .container-button-signin .file-input-wrapper, #header-main .main_menu-dropdown #form-login .container-button-signin .file-input-wrapper-2 {
        width: 100%; }
  #header-main .bar-colored {
    width: 200px;
    background: #3492dc;
    background: -moz-linear-gradient(left, #3492dc 0%, #3492dc 23%, #43d800 23%, #43d800 47%, #d15f00 47%, #d15f00 75%, #cd0003 75%, #cd0003 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3492dc), color-stop(23%, #3492dc), color-stop(23%, #43d800), color-stop(47%, #43d800), color-stop(47%, #d15f00), color-stop(75%, #d15f00), color-stop(75%, #cd0003), color-stop(100%, #cd0003));
    background: -webkit-linear-gradient(left, #3492dc 0%, #3492dc 23%, #43d800 23%, #43d800 47%, #d15f00 47%, #d15f00 75%, #cd0003 75%, #cd0003 100%);
    background: -o-linear-gradient(left, #3492dc 0%, #3492dc 23%, #43d800 23%, #43d800 47%, #d15f00 47%, #d15f00 75%, #cd0003 75%, #cd0003 100%);
    background: -ms-linear-gradient(left, #3492dc 0%, #3492dc 23%, #43d800 23%, #43d800 47%, #d15f00 47%, #d15f00 75%, #cd0003 75%, #cd0003 100%);
    background: linear-gradient(to right, #3492dc 0%, #3492dc 23%, #43d800 23%, #43d800 47%, #d15f00 47%, #d15f00 75%, #cd0003 75%, #cd0003 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3492dc', endColorstr='#cd0003',GradientType=1 );
    /* IE6-9 */
    height: 7px;
    bottom: 0;
    right: 0;
    position: absolute; }
    @media (max-width: 767px) {
      #header-main .bar-colored {
        display: none; } }
  #header-main .dropdown-menu-user {
    padding: 0 !important;
    margin-top: 26px !important; 
    }
    #header-main .dropdown-menu-user .btn-danger {
      width: 200px;
      margin: 0 10px 10px 10px; }
    #header-main .dropdown-menu-user li {
      margin: 0; }
    #header-main .dropdown-menu-user li.divider {
      height: 1px;
      padding: 0;
      margin: 0; }
    #header-main .dropdown-menu-user .btn-danger {
      margin-top: 10px;
      padding: 2px 0;
      height: 30px; }
    #header-main .dropdown-menu-user a {
      font-size: 15px;
      height: 38px;
      padding: 8px 10px 8px 10px; }

.dropdown-services .main_menu-item--wrapper {
  cursor: pointer; }
.dropdown-services li {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100px;
  margin-top: 10px;
  float: left;
  text-align: center;
  border-right: 1px solid #eeeeee; }
  @media (min-width: 1200px) {
    .dropdown-services li {
      float: left;
      width: 33.3333333333%; } }
  .dropdown-services li:last-child {
    border: none; }
  .dropdown-services li a {
    height: 100px;
    background: #f5f5f5;
    padding: 20px 0; }
  .dropdown-services li.style_courses a {
    color: #777777; }
    .dropdown-services li.style_courses a:hover {
      color: #00a182; }
  .dropdown-services li.style_blog a {
    color: #777777; }
    .dropdown-services li.style_blog a:hover {
      color: #f9ae31; }
    .dropdown-services li.style_blog a .icons-outline {
      margin-top: 2px; }
    .dropdown-services li.style_blog a .text {
      margin-top: 2px; }
  .dropdown-services li.style_help a {
    color: #777777; }
    .dropdown-services li.style_help a:hover {
      color: #cd0102; }
  .dropdown-services li .cdp, .dropdown-services li .breadcrumb .breadcrumb-icon, .breadcrumb .dropdown-services li .breadcrumb-icon {
    font-size: 32px; }
  .dropdown-services li .icons-outline {
    font-size: 26px; }
  .dropdown-services li .text {
    display: block;
    font-size: 13px; }
@media (max-width: 767px) {
  .dropdown-services .arrow_box-menu-services:after {
    border-color: transparent;
    border-bottom-color: transparent; }
  .dropdown-services .arrow_box-menu-services:before {
    border-color: transparent;
    border-bottom-color: transparent; }
 }
@media (min-width: 768px) {
  .dropdown-services {
    width: 360px;
    height: 130px;
    position: absolute;
    top: 56px;
    left: -150px; } }
@media (min-width: 992px) {
  .dropdown-services {
    width: 360px;
    height: 130px;
    position: absolute;
    top: 56px;
    left: -150px; } }
@media (min-width: 1200px) {
  .dropdown-services {
    width: 360px;
    height: 130px;
    position: absolute;
    top: 56px;
    left: -150px; } }

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px; }
  .badge:empty {
    display: none; }
  .btn .badge, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-image .badge, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-audio .badge, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-video .badge, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-docs .badge, .section-story .story-main-content .story-main-content--media .story-main-content--media-tabs .btn-map .badge, .section-story .story-main-content .story-main-content--form .story-main-content--form-wrapper .btn-send .badge, .section-story .story-main-content .btn-comment .badge, .story-modal-edit .story-main-content--form .story-main-content--form-wrapper .btn-send .badge, .story-modal-edit .story-main-content--form .story-main-content--form-wrapper .btn-cancel .badge, .file-input-wrapper .badge, .file-input-wrapper-2 .badge {
    position: relative;
    top: -1px; }
  .btn-xs .badge {
    top: 0;
    padding: 1px 5px; }
  a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #2d84b8;
    background-color: #fff; }
  .nav-pills > li > a > .badge {
    margin-left: 3px; }

a.badge:hover, a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

/* navbar styles
-------------------------------------------------- */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 22px;
  border: 1px solid transparent; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 4px; } }

.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table; }
.navbar-header:after {
  clear: both; }
@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  -webkit-overflow-scrolling: touch; }
  .navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table; }
  .navbar-collapse:after {
    clear: both; }
  .navbar-collapse.in {
     }
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0; }
      .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        position: relative; }
      .navbar-collapse.in {
         }
      .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0; } }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }
  @media (max-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
      max-height: 200px; } }

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }
  @media (min-width: 768px) {
    .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }
  @media (min-width: 768px) {
    .navbar-static-top {
      border-radius: 0; } }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  @media (min-width: 768px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
      border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.navbar-brand {
  float: left;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 22px;
  height: 50px; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: -15px; }
 }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .navbar-toggle:focus {
    outline: 0; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none; } }

.navbar-nav {
  margin: 7px -15px; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px; }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0; }
      .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .navbar-nav .open .dropdown-menu > li > a {
        line-height: 22px; }
        .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
          background-image: none; }
 }
  @media (min-width: 768px) {
    .navbar-nav {
      float: none;
      margin: 0; }
      .navbar-nav > li {
        float: left; }
        .navbar-nav > li > a {
          padding-top: 14px;
          padding-bottom: 14px; }
      .navbar-nav.navbar-right:last-child {
        margin-right: -15px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }

  .navbar-right {
    float: right !important; }
 }

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: 7px;
  margin-bottom: 7px; }
  @media (max-width: 767px) {
    .navbar-form .form-group {
      margin-bottom: 5px; } }
  @media (min-width: 768px) {
    .navbar-form {
      width: auto;
      border: 0;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0;
      padding-bottom: 0; }
      .navbar-form.navbar-right:last-child {
        margin-right: -15px; } }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.navbar-btn {
  margin-top: 7px;
  margin-bottom: 7px; }
  .navbar-btn.btn-sm {
    margin-top: 8.5px;
    margin-bottom: 8.5px; }
  .navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px; }

.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .navbar-text {
      float: left;
      margin-left: 15px;
      margin-right: 15px; }
      .navbar-text.navbar-right:last-child {
        margin-right: 0; } }

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7; }
  .navbar-default .navbar-brand {
    color: #777; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #5e5e5e;
      background-color: transparent; }
  .navbar-default .navbar-text {
    color: #777; }
  .navbar-default .navbar-nav > li > a {
    color: #777; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #333;
      background-color: transparent; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #ddd; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #ddd; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #888; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #777; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555;
      background-color: #e7e7e7; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; }
 }
  .navbar-default .navbar-link {
    color: #777; }
    .navbar-default .navbar-link:hover {
      color: #333; }
  .navbar-default .btn-link {
    color: #777; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #333; }
    .navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc; }

.navbar-inverse {
  background-color: #222;
  border-color: #090909; }
  .navbar-inverse .navbar-brand {
    color: #777777; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
      color: #fff;
      background-color: transparent; }
  .navbar-inverse .navbar-text {
    color: #777777; }
  .navbar-inverse .navbar-nav > li > a {
    color: #777777; }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
      color: #fff;
      background-color: transparent; }
  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #090909; }
  .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent; }
  .navbar-inverse .navbar-toggle {
    border-color: #333; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background-color: #333; }
    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010; }
  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #090909;
    color: #fff; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
      border-color: #090909; }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
      background-color: #090909; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
      color: #777777; }
      .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #fff;
      background-color: #090909; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #444;
      background-color: transparent; }
 }
  .navbar-inverse .navbar-link {
    color: #777777; }
    .navbar-inverse .navbar-link:hover {
      color: #fff; }
  .navbar-inverse .btn-link {
    color: #777777; }
    .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
      color: #fff; }
    .navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:hover, fieldset[disabled] .navbar-inverse .btn-link:focus {
      color: #444; }

.arrow_box {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #ccc; }
  .arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f5f5f5;
    border-width: 12px;
    margin-left: 72px; }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 13px;
    margin-left: 71px; }

.arrow_box-menu-services {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #ccc; }
  .arrow_box-menu-services:after, .arrow_box-menu-services:before {
    bottom: 100%;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow_box-menu-services:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f5f5f5;
    border-width: 12px;
    margin-left: 4px; }
  .arrow_box-menu-services:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 13px;
    margin-left: 3px; }



form .input-help {
  font-size: 12px;
  color: #8a8a8a;
}
form .input-help.error {
  font-size: 12px;
  color: #f00;
}



.cdp_http_responses_error {
  overflow: hidden;
  width: 100%;
  height: 650px;
  text-align: center;
  background: #000;
  position: relative;
}
.cdp_http_responses_error .video {
  width: 100%;
}
.cdp_http_responses_error .mascara {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}

.cdp_http_responses_error .msg {
  z-index: 3;
  position: absolute;
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
  padding: 20px;
  width: 300px;
  height: 240px;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -170px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.cdp_http_responses_error .msg h1 {
  margin: 0;
  padding: 0;
  font-size: 82px;
  color: #237db9;
  line-height: 1em;
}
.cdp_http_responses_error .msg h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: #717173;
}
.cdp_http_responses_error .msg p {
  font-size: 14px;
  color: #000;
  line-height: 1.5em;
  margin: 10px 0;
}

.cdp_http_responses_error  a.back {
  color: #247DB5;
  font-weight: bold;
  font-size: 14px;
}