
<ul class="nav nav-pills">
  <li><a href="/avatar">
    <span class="glyphicon glyphicon-picture"></span>
    <%= __("avatar.menu.link.avatar.home") %>
  </a></li>
  <li><a href="/avatar/change">
    <span class="glyphicon glyphicon-pencil"></span>
    <%= __("avatar.menu.link.avatar.change") %>
  </a></li>
  <li><a href="/avatar/crop">
    <span class="glyphicon glyphicon-resize-small"></span>
    <%= __("avatar.menu.link.avatar.crop") %>
  </a></li>
</ul>
