<footer id="footer-main">
  <div class="container">
    <div class="row">

      <div id="footer-main--blog">
        <h4 class="title-footer">
          <%- include ../partials/logo-cdp.ejs %>
        <h4>
        <div class="small-footer">
          <p>Espaço virtual de construção de conhecimento a partir das experiências de cada profissional da Atenção Básica.</p>
        </div>
        <a class="btn btn-xs btn-default">Saiba mais</a>
      </div>

      <div id="footer-main--facebook">
        <%- include ../partials/facebook-lg.ejs %>
      </div>

      <div id="footer-main--links">
        <h4 class="links-section--title title-footer">Links</h4>
        <ul class="links-section--list">

          <li class="links-section--list-item style-help_center">
            <a class="links-section--subtitle" target="_blank" href="http://ajuda.atencaobasica.org.br">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x fa-4x pull-left"></i>
                <i class="cdp cdp-question cdp-lg cdp-stack-1x cdp-inverse"></i>
              </span>
              <span class="icon-title">Central de Ajuda</span>
            </a>
            <p class="links-section--description">Quer ajuda? É aqui que você encontra.</p>
          </li>

          <li class="links-section--list-item style-blog">
            <a href="http://blog.atencaobasica.org.br" class="links-section--subtitle">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
                <i class="cdp cdp-chat cdp-lg cdp-stack-1x cdp-inverse"></i>
              </span>
              <span class="icon-title">Blog</span>
            </a>
            <p class="links-section--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
          </li>

          <li class="links-section--list-item style-terms">
            <a href="#" class="links-section--subtitle">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
                <i class="cdp cdp-contacts cdp-lg cdp-stack-1x cdp-inverse"></i>
              </span>
              <span class="icon-title">Termos de Uso</span>
            </a>
            <p class="links-section--description">Trocar experiências e fazer uma rede dinâmica e viva.</p>
          </li>
        </ul>
      </div>

      <div id="footer-main--sponsor">
        <h4 class="sponsor-title">Realização</h4>
        <ul class="sponsor-list pull-left">
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="http://goo.gl/Vr3AP6">
            </a>
          </li>
          <li class="sponsor-list--item">
            <a href="#"target="_blank">
              <img class="sponsor-list--item-img" src="http://goo.gl/8NGiAV">
            </a>
          </li>
        </ul>
      </div>

      <div id="footer-main--partner">
        <h4 class="partner-title">Parcerias</h4>
        <ul class="partner-list">
          <li class="partner-list--item">
            <a href="#"target="_blank">
              <img class="partner-list--item-img" src="http://goo.gl/fG7jAl">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="copyright">
    <p class="text-muted">Comunidade de Práticas - <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC</a> 2014</p>
  </div>
</footer>

{{we-avatar-modal store=store}}


<script>
$( document ).ready(function() {
  $('.eu-gosto-de-mel').remove();
});
</script>