<li class="style_courses">
  <a href="http://cursos.atencaobasica.org.br">
    <i class="cdp cdp-badge cdp-2x"></i>
    <span class="text">Cursos</span>
  </a>
</li>

<li class="style_blog">
  <a href="http://blog.atencaobasica.org.br">
    <i class="cdp cdp-chat cdp-2x"></i>
    <span class="text">Blog</span>
  </a>
</li>

<li class="style_help">
  <a href="http://ajuda.atencaobasica.org.br">
    <i class="cdp cdp-question cdp-2x"></i>
    <span class="text">Ajuda</span>
  </a>
</li>
