<li class="style_courses">
  <a href="#">
    <i class="cdp cdp-badge cdp-2x"></i>
    <span class="text">Cursos</span>
  </a>
</li>

<li class="style_blog">
  <a href="#">
    <i class="cdp cdp-chat cdp-2x"></i>
    <span class="text">Blog</span>
  </a>
</li>

<li class="style_help">
  <a href="#">
    <i class="cdp cdp-question cdp-2x"></i>
    <span class="text">Ajuda</span>
  </a>
</li>
