<ol>
  <li class="cdp_multistep_user_edit current-step group_profile_account_li first">
    <a href="?step=group_profile_account" id="multistep-cdp_multistep_user-group_profile_account" class="cdp_multistep_user_edit current-step active">
    <span class="multstep-user-prefix">&nbsp;</span><span class="multstep-user-link">Conta de usuário</span></a>
  </li>
  <li class="cdp_multistep_user_edit group_profile_foto_li">
    <a href="?step=group_profile_foto" id="multistep-cdp_multistep_user-group_profile_foto" class="cdp_multistep_user_edit active"><span class="multstep-user-prefix">&nbsp;</span><span class="multstep-user-link">Foto do perfil</span></a>
  </li>
  <li class="cdp_multistep_user_edit group_profile_contato_li">
    <a href="?step=group_profile_contato" id="multistep-cdp_multistep_user-group_profile_contato" class="cdp_multistep_user_edit active"><span class="multstep-user-prefix">&nbsp;</span><span class="multstep-user-link">Informações de contato</span></a>
    </li>
  <li class="cdp_multistep_user_edit group_profile_trabalho_li">
    <a href="?step=group_profile_trabalho" id="multistep-cdp_multistep_user-group_profile_trabalho" class="cdp_multistep_user_edit active"><span class="multstep-user-prefix">&nbsp;</span><span class="multstep-user-link">Estudo e trabalho</span></a>
  </li>
  <li class="cdp_multistep_user_edit group_profile_ensine_aprenda_li last">
    <a href="?step=group_profile_ensine_aprenda" id="multistep-cdp_multistep_user-group_profile_ensine_aprenda" class="cdp_multistep_user_edit active"><span class="multstep-user-prefix">&nbsp;</span><span class="multstep-user-link">Ensine e aprenda!</span></a>
  </li>
</ol>