<!-- /people-list--header- -->
<header id="people-list--header">
  <div class="people-list--header-brand">
    <div class="people-list--header-brand-icon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-people"></i>
        <i class="cdp cdp-people cdp-stack-1x cdp-inverse"></i>
      </span>
    </div>
    <div class="people-list--header-brand-text">
      <h3 class="people-list--header-brand-text--title">
        {{t 'users.title'}}
      </h3>
      <small class="people-list--header-brand-text--small">
        {{t 'users.subtitle'}}
      </small>
    </div>
  </div>
  <!-- people-list--header-search -->
  <div class="people-list--header-search">
    <form class="form-inline" role="form">
      <div class="input-group">
        <input type="search" class="input-search people-list--header-search-input form-control" placeholder="Faça sua busca">
        <span class="input-group-btn">
          <button class="search-btn btn btn-default" type="button">
            <i class="icon-search cdp cdp-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <!-- /people-list--header-search -->
</header>
<!-- /people-list--header -->
