<div style="background: #f5f5f5;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <div style="width: 631px; margin: auto;">
          <table border="0" cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse; font-family: arial, tahoma, verdana">
            <tr>
              <!-- mensagem do topo -->
              <td style="text-align: center; font-size: 11px; color: #868686; padding: 15px 0">
                Caso nao esteja visualizando esta mensagem, <a href="#">Acesse este link</a>.<br>
                <a href="#">Descadastre-se</a> caso nao queira receber mais e-mails.
              </td>
            </tr>
            <tr>
              <!-- Banner -->
              <td>
                <img src="https://perfis.atencaobasica.org.br/theme/assets/img/email/bannerBemVindo.jpg" style="margin: 0" alt="seja Bem-Vindo!">
              </td>
            </tr>
            <tr>
              <!-- corpo do email -->
              <td style="background: #fff; padding: 65px 60px 50px 60px; color: #868686; font-size: 14px; line-height: 1.5em;">
                
                <h1 style="color: #1b84bb; font-size: 32px;">Titulo da Notificaçao da CdP</h1>

                <p>Intrinsicly exploit transparent innovation via superior solutions. Assertively visualize premier e-tailers through client-centric experiences. Completely extend world-class e-commerce vis-a-vis competitive mindshare. Interactively empower multidisciplinary users via long-term high-impact architectures. Distinctively whiteboard effective platforms with excellent intellectual capital.</p>

                <p>Competently utilize inexpensive meta-services after equity invested paradigms. Energistically maximize corporate technology before exceptional communities. Holisticly plagiarize customized leadership skills before flexible customer service. Rapidiously coordinate enabled e-commerce after leading-edge infomediaries. Dramatically pontificate holistic outsourcing with <a href="#">best-of-breed models</a>.</p>

              </td>
            </tr>
            <tr>
              <!-- botao "vamos comecar" -->
              <td style="text-align: center; padding-bottom: 50px; background: #fff;">
                <a href="#"><img style="margin: 0; border: none" src="https://perfis.atencaobasica.org.br/theme/assets/img/email/btnVamosComecar.jpg" alt="Vamos Começar?"></a>
              </td>
            </tr>
            <tr>
              <!-- detalhe do layout -->
              <td style="font-size: 1px; height: 7px; background: #fff;">
                <img src="https://perfis.atencaobasica.org.br/theme/assets/img/email/linha.gif">
              </td>
            </tr>
            <tr>
              <!-- footer -->
              <td style="text-align: center; padding: 30px 0">
                <img src="https://perfis.atencaobasica.org.br/theme/assets/img/email/emailfooter.gif" style="margin: 0; padding: 0;" alt="Comunidade de Praticas - Todos os Direitos Reservados">
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>
</div>