Oi <%= user.name %>,
<p>
Alguém (esperamos que você) solicitou uma <strong>nova senha</strong> para a sua conta no <%= site.name %> .
</p>
<p>
<strong>Siga o link</strong> abaixo para definir uma nova senha:
<br>
Link: <strong><%= resetPasswordUrl %></strong>
</p>
<p>
Se você não deseja redefinir sua senha, desconsidere este e-mail e nenhuma ação será tomada.
</p>
<br>
<%- include ../partials/footer-html.ejs %>
