Oi <%= user.displayName %>,

<p>Sua senha foi alterada com sucesso.</p>

<p>Se você não foi o autor dessa ação, entre em contato com o nosso <a href="mailto:contato@atencaobasica.org.br">suporte</a>.</p>

<br>

<%= site.name %>
<a href="<%= site.url %>" ><%= site.url %></a> 
