<div style="background: #f5f5f5;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <div style="width: 631px; margin: auto;">
            <table border="0" cellpadding="0" cellspacing="0" style="border: none; border-collapse: collapse; font-family: arial, tahoma, verdana; width: 100%;">
              <tr>
                <!-- mensagem do topo -->
                <td style="text-align: center; font-size: 11px; color: #868686; padding: 15px 0">
                  Comunidade de Práticas | <a href="https://www.atencaobasica.org.br" style="color: #868686">Atenção Básica</a>
                </td>
              </tr>
              <tr>
                <!-- Banner -->
                <td style="text-align: center; padding-top: 40px; color: #424242; background: #fff">
                  <h1 style="margin: 0; font-size: 32px;">Notificação da CdP</h1>
                  <div style="margin-top: 7px; font-size: 14px;">Veja as Notificações da Comunidade</div>
                  <img src="https://perfis.atencaobasica.org.br/theme/assets/img/email/emailCdP.jpg" style="margin: 0; margin-top: 60px;" alt="seja Bem-Vindo!">
                </td>
              </tr>
              <tr>
                <!-- corpo do email -->
                <td style="background: #fff; padding: 52px 60px 50px 60px; color: #868686; font-size: 14px; line-height: 1.5em;">

                <h2 style="font-size: 26px; margin: 0">Oi <%= user.displayName %></h2>

                <div style="font-size: 12px;">Email de Notificaçao:</div>

                <% notifications.forEach(function(notification, index) { %>

                  <div style="margin-top: 20px">
                    <a class="notification-link" href="<%= notification.emailLink %>">
                    <%- notification.emailText %>...
                    </a>

                  </div>

                <% }); %>

                </td>
              </tr>
              <tr>
                <!-- botao "vamos comecar" -->
                <td style="text-align: center; padding-bottom: 50px; background: #fff">
                  <a href="https://atencaobasica.org.br"><img style="margin: 0; border: none" src="https://perfis.atencaobasica.org.br/theme/assets/img/email/btnVerNotificacao.jpg" alt="Ver notificacoes"></a>
                  <div style="margin-top: 60px"><img style="margin: 0;" src="https://perfis.atencaobasica.org.br/theme/assets/img/email/itens.gif"></div>
                </td>
              </tr>
              <tr>
                <!-- detalhe do layout -->
                <td style="font-size: 1px; height: 7px">
                  <img src="https://perfis.atencaobasica.org.br/theme/assets/img/email/linha.gif">
                </td>
              </tr>
              <tr>
                <!-- footer -->
                <td style="text-align: center; padding: 30px 0">
                  <img src="https://perfis.atencaobasica.org.br/theme/assets/img/email/emailfooter2.gif" style="margin: 0; padding: 0;" alt="Comunidade de Praticas - Todos os Direitos Reservados">
                </td>
              </tr>
            </table>
          </div>
      </td>
    </tr>
  </table>
</div>
