<aside id="courses-widget" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse-course-widget">
        <span class="fa-stack">
          <i class="cdp cdp-badge cdp-lg cdp-fw cdp-stack-1x pull-left"></i>
        </span>
        <span class="icon-title">Cursos</span>
      </a>
    </h3>
  </div>
  <div id="collapse-course-widget" class="panel-collapse collapse list-group">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cursos de Saúde</h4>
      <div class="description">

        <div class="list-group-item-text">
          <p>Gestores e trabalhadores do SUS, compartilham  e trocam experiências aqui, nessa rede rica e viva. Faça parte!</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cursos de Saúde</h4>
      <div class="description">

        <div class="list-group-item-text">
          <p>Gestores e trabalhadores do SUS, compartilham  e trocam experiências aqui, nessa rede rica e viva. Faça parte!</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cursos de Saúde</h4>
      <div class="description">

        <div class="list-group-item-text">
          <p>Gestores e trabalhadores do SUS, compartilham  e trocam experiências aqui, nessa rede rica e viva. Faça parte!</p>
        </div>
      </div>
    </a>
  </div>
</aside>
