<div class="logo-cdp">
  
  <span class="logo-symbol"><img src="/theme/assets/img/logo-simbolo.png"></span><span class="logo-text"><img src="/theme/assets/img/logo-text.png" alt="Comunidade de Praticas"></span>

</div>