<div class="modal fade" id="modal-services" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header-brand--services">
          <div class="header-brand-icon">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-people"></i>
              <i class="cdp cdp-services cdp-stack-1x cdp-inverse"></i>
            </span>
          </div>
          <div class="header-brand-text">
            <h3 class="header-brand-text--title">Serviços</h3>
            <small class="header-brand-text--small">Acesse os nossos serviços</small>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal"><i class="icons-outline icons-outline-circle-close icons-outline-2x"></i></button>
      </div>
      <div class="modal-body">

        <div class="modal-service_item">
          <i class="cdp cdp-badge cdp-2x"></i>
        </div>
        <div class="modal-service_item">
          <i class="icons-outline icons-outline-circle-close icons-outline-2x"></i>
        </div>
        <div class="modal-service_item">
          <i class="icons-outline icons-outline-circle-close icons-outline-2x"></i>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Voltar</button>
      </div>
    </div>
  </div>
</div>
