<li class="style_courses">
  <a href="https://cursos.atencaobasica.org.br/courses">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x fa-4x pull-left" style="font-size: 2.2em; color: #00a182; margin-bottom: 10px;"></i>
      <i class="cdp cdp-badge cdp-lg cdp-stack-1x cdp-inverse" style="font-size: 1.5em; margin-top: 4px;"></i>
    </span>
    <span class="text" style="margin-top: 9px;">Cursos</span>
  </a>
</li>

<li class="style_blog">
  <a href="http://blog.atencaobasica.org.br">
    <img style="width: 30px; margin-bottom: 8px; margin-top: 2px; height: 30px; position: relative;" src="https://blog.atencaobasica.org.br/wp-content/uploads/2014/12/logo-blog.png">
    <span class="text">Blog</span>
  </a>
</li>

<li class="style_help">
  <a href="http://ajuda.atencaobasica.org.br">
    <img style="width: 30px; margin-bottom: 10px; margin-top: 2px; height: 30px; position: relative;" src="/theme/assets/img/img-icon-ajuda.png">
    <span class="text">Ajuda</span>
  </a>
</li>
