
<header id="group-list--header">
  <div class="group-list--header-brand">
    <div class="group-list--header-brand-icon">
      <span class="fa-stack">
        <i class="cdp cdp-cdp-logo cdp-lg cdp-stack-1x cdp-inverse"></i>
      </span>
    </div>
    <div class="group-list--header-brand-text">
      <h3 class="group-list--header-brand-text--title">
        {{t "groups.title"}}
      </h3>
      <small class="group-list--header-brand-text--small">
        {{t "groups.subtitle"}}
      </small>
    </div>
  </div>

  {{!--<div class="group-list--header-search">
    <form class="form-inline" role="form">
      <div class="input-group">
        <input type="search" class="input-search form-control" placeholder="Faça sua busca">
        <span class="input-group-btn">
          <button class="search-btn btn btn-default" type="button">
            <i class="icon-search cdp cdp-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>--}}

  <a href="#" class="about-group btn"><span class="caret"></span> Sobre</a>

</header>

