<br><br>
<p class="text-center">
  <div class="alert alert-danger alert-dismissable">
    <%- __('auth.register.requires.email.validation.message',{
      email: user.email,
      displayName: user.displayName
    }) %>
  </div>
</p>
