<br><br>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li role="presentation">
        {{#link-to "authRegister"}}
          {{t "Sign up"}}
        {{/link-to}}
        </li>
        <li role="presentation">
        {{#link-to "authLogin"}}
          {{t "Login"}}
        {{/link-to}}
        </li>
        <li role="presentation">
        {{#link-to "authForgotPassword"}}
          {{t "Remember Password"}}
        {{/link-to}}        
        </li>
      </ul>
    </div>
  </div>
</nav>