<header id="signin-list--header">
  <div class="signin-list--header-brand">
    <div class="signin-list--header-brand-icon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-4x pull-left"></i>
        <i class="fa fa-group cdp-stack-1x cdp-inverse"></i>
      </span>
    </div>
    <div class="signin-list--header-brand-text">
      <h3 class="signin-list--header-brand-text--title">
        {{t 'Cadastre-se'}}
      </h3>
      <small class="signin-list--header-brand-text--small">
        {{t 'Aqui você encontra as pessoas'}}
      </small>
    </div>
  </div>
</header>

